/* Variables */


*,*::before,*::after {
    box-sizing: border-box;   
}

/* Global */

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1024px;
    margin: 0 auto 0 auto;
    text-align: center;
}

.btn{
    display: inline-block;
    text-decoration: none;
    min-width: 160px;
    text-align: center;
    margin: 24px  auto 0 auto;
    padding: 16px 32px;
    font-weight: 550;
    cursor: pointer;
    border: 2px solid gold;
    border-radius: 5px;
    background-color: gold;
    background-position: 100% 0;
    background-size: 300%;
    transition: all 1s;
}

.btn:hover {
    background-position: 0 100%;
    color: gold;
}

.btn-one{
    color: white;
    border-color: white;
    background-image: linear-gradient(90deg, black 50%, transparent 50%);
}

.section-title{
    font-size: 32px;
    margin: 0;
    padding-top: 70px;
}
.section-title + p{
    margin:5px auto 64px auto;
    font-style: italic;
}

.row{
    display: flex;
    justify-content: space-between;
}


/* Navigation */

.navigator::before{
    content: "";
    background-image: url("/images/main.png");
    background-repeat: no-repeat;
    background-size: cover; 
    position: absolute;
    width: 100%;
    height: 552px;
    z-index: -1;
    filter: brightness(50%);
}


.navigator{
    display: flex;
}

.top-menu{
    display: flex;
    flex:100%;
    max-width: 1024px;
    margin: 20px auto 0 auto;
}

.left-menu{
    text-align: left;
    flex: 25%;
}
.left-menu{
    a{
        text-decoration: none;
    }
}

.right-menu{
    text-align: right;
    flex: 75%;

}

.right-menu{
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

.right-menu{
    li{
        display: inline-block;
        margin-left: 36px;      
    }
}
.right-menu{
    a{
        text-decoration: none;
        color:white;
        &:hover{
            color: gold;
            transition: all 1s;
        }
    }
}

/* header */

.splash{
    display: flex;
    min-height: 500px;  
}

.splash-inner{
    text-align: center;
    margin: auto;
    max-width: 70%;
}

.page-title {
    font-size: 32px;
    margin: 0;
    color: white;
}

.page-subtitle{
    font-size: 48px;
    margin: 12px 0;
    color: white;
}

/* services */

.box{
    flex: 33%;
    max-width: 300px;
}

.section-title{
    font-size: 32px;
    margin: 0;
    padding-top: 70px;
}
.section-title + p{
    margin:5px auto 64px auto;
    font-style: italic;
}

.services {
    i{
        border: 4px solid gold;
        color: gold;
        border-radius: 60%;
        padding-top: 12px;
        font-size: 32px;
        display: inline-block;
        width: 70px;
        height: 70px;

    }
}

.services{
    .row:last-of-type{
        padding-bottom: 70px;
    }
}

/* portfolio */

.portfolio{
    background: rgba(241, 240, 240, 0.954);
}

.gallery-box{
    flex: 33%;
    display: flex;
    flex-direction: column;
    max-width: 310px;
    background-color: white;
    margin-bottom: 48px;
}

.gallery-img{
    img{
        width: 100%;        
    }
}

.portfolio{
    .row:last-of-type{
        padding-bottom: 60px;
    }
}

.gallery-title{
    font-size: 32px;
    margin: 0;
    padding-top: 20px;
}
.gallery-title + p{
    margin:5px auto;
    padding-bottom: 32px;
    font-style: italic;
}

/* footer */

footer{
    display: flex;
    margin: 12px auto;
}

.footer-left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 50%;
}

.footer-left{
    p{
        padding: 0;
        margin: 0;
    }
}

.footer-right{
    display: flex;
    justify-content: left;
    align-items: center;
    flex: 50%;
}

.footer-right{
    ul{
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
}

.footer-right{
    li{
        display: inline-block;
        background-color: black;
        width: 40px;
        height: 40px;
        border: 2px solid black;
        border-radius: 20px;
        padding-top: 5px;
        &:hover{
            transform: scale(1.5);
            transition: all 1s;
        }
        margin-right: 12px;
    }
}

.footer-right{
    a{
        text-decoration: none;
        font-size: 0;
        text-align: center;
    }
}

.footer-right{
    i{
        display: block;
        font-size: 24px;
        color: white;
    }
}



@media (min-width: 768px){

    .hide-box{
        display: none;
    }
    .portfolio{
        .row{
            justify-content: space-evenly;
        }
    }
}

@media (min-width: 1100px){

    .hide-box{
        display: flex;
    }
    .portfolio{
        .row{
            justify-content: space-between;
        }
    }
}

@media (max-width: 767px){

    .right-menu{
        text-align: center;
    }
    .right-menu{
        li{
            margin-left: 12px;   
            padding-bottom: 12px;   
        }
    }
    .left-menu{
        display: none;
    }

    .page-title {
        font-size: 16px;
    }
    
    .page-subtitle{
        font-size: 24px;
    }

    .btn{
        transform: scale(0.8);
    }

    .section-title{
        font-size: 24px;
    }
    .section-title + p{
         font-size: 12px
    }
    
    .row{
         flex-direction: column;
         align-items: center;
    }

    footer{
        flex-direction: column-reverse;
    }

    .footer-right{
        justify-content: center;
        margin-bottom: 10px;
    }
}