/* Variables */


*,*::before,*::after {
    box-sizing: border-box;   
}

/* Global */

body {
    font-size: 16px;
    margin: 0;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

.btn{
    display: inline-block;
    text-decoration: none;
    min-width: 160px;
    text-align: center;
    margin: 24px  auto 0 auto;
    padding: 16px 32px;
    font-weight: 550;
    cursor: pointer;
    border: 2px solid gold;
    border-radius: 5px;
    background-color: gold;
    background-position: 100% 0;
    background-size: 300%;
    transition: all 1s;
}

.btn:hover {
    background-position: 0 100%;
    color: gold;
}

.btn-one{
    color: white;
    border-color: white;
    background-image: linear-gradient(90deg, black 50%, transparent 50%);
}


/* Navigation */

.top-menu{
    display: flex;
    margin-top: 20px;
}

.left-menu{
    text-align: center;
    flex: 25%;
}
.left-menu{
    a{
        text-decoration: none;
        color: gold;
    }
}

.right-menu{
    text-align: center;
    flex: 75%;

}

.right-menu{
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

.right-menu{
    li{
        display: inline-block;
        margin-right: 36px;

    }
}
.right-menu{
    a{
        text-decoration: none;
    }
}

/* header */

.splash{
    display: flex;
    min-height: 500px;
    background-image: url("/images/main.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.splash-inner{
    text-align: center;
    margin: auto;
    max-width: 70%;
}

.page-title {
    font-size: 32px;
    margin: 0;
    color: white;
}

.page-subtitle{
    font-size: 48px;
    margin: 12px 0;
    color: white;
}
